@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

/* NanumGothic Font */
/* Regular */
@font-face {
  font-family: 'NanumGothic';
  src: url('./assets/font/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* bold */
@font-face {
  font-family: 'NanumGothic';
  src: url('./assets/font/NanumGothicBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'NanumGothic';
  src: url('./assets/font/NanumGothicExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  @apply font-nanumGothic;
}
